# copy this file to .env and update with your settings
HOST=localhost
PORT=3000
DATABASE_URL=postgres://user:pass@localhost:3306/seed-koa2
SECRET=keyboard-cat
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
