doctype html
html
  body
    p This page is rendered from a Pug template.
    p
      a(href='/demo/state') View the state object
    p
      a(href='/demo/secure') Access a secure page (must be logged in to see it)
